################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Devlance-Core/Controllers/WeatherForecastController.cs
